h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
button {
  color: purple;
}
.background {
  background-color: pink;
}
.red-background {
  background-color: red;
}
.green-background {
  background-color: green;
}
